
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Загрузить файлы</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="/analyzeLgm">ЛГМ vs Учебное пособие</a>
    </div>
    <#--<ul class="nav navbar-nav">-->
      <#--<li class="dropdown">-->
        <#--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"-->
           <#--aria-haspopup="true" aria-expanded="false">Анализ <span class="caret"></span></a>-->
        <#--<ul class="dropdown-menu">-->
          <#--<li><a href="/analyzeLgm">ЛГМ vs Учебное пособие</a></li>-->
          <#--<li><a href="/analyzeUchebnik">Анализировать Учебное пособие</a></li>-->
        <#--</ul>-->
      <#--</li>-->
    <#--</ul>-->
  </div><!--/.nav-collapse -->
  </div>
</nav>